.render-month
  display: flex
  flex-wrap: wrap
  width: 100%
  > div
    width: calc(100% / 7)
    border-left: 1px solid #000
    border-top: 1px solid #000
    min-height: 40px
    padding: 1px
  .sunday
    color: red
  .currDay
    color: green
    font-weight: bold
    span
      border: 1px solid purple
      border-radius: 15px
      
      
  .days-in-month
    color: green