.calendar-header
  display: flex
  justify-content: space-around
  span   
    padding: 0 10px
    width: 200px
    text-align: center
    text-transform: uppercase
  img
    width: 16px
    height: 16px
    &:hover
      cursor: pointer

.render-month