.days
  display: flex

.days-item
  flex-grow: 1

.date-picker
  display: flex
  align-items: center
  & > div
    display: flex
    flex-direction: column
    i
      margin: 7px 0
      cursor: pointer

   
  
.one-day
  height: 55px
  margin: 10px 0

.warning-day
  margin-top: 3px